Flask>=1.0.0
gunicorn==19.7.1
# prometheus-client # new
# ibmcloudenv
# livereload # new
Flask-WTF
flask-uploads
# tinydb
flask-bootstrap
flask-nav
werkzeug==0.16.1
# ibm_db
# sqlalchemy
# ibm_db_sa # new
pandas==1.3.5
python-dotenv==0.20.0

azure-storage-blob==12.12.0

#Pin
markupsafe==2.0.1
# pymssql==2.2.5
Flask-Caching==1.11.1
redis==4.3.3
nltk==3.7
Flask-SocketIO==5.2.0
simple-websocket==0.5.2