{% extends "base.html" %}

{% block app_content %}
<style>
    .wrapper {
        width: calc(100vh - 400px);
        /* height: 50vh; */
    }
</style>
<script>
    window.addEventListener('load', function(event) {
        // if not ({{ data }}) { return; }
        const ctx = document.getElementById('chart').getContext('2d');
        const data = {
            labels: {{ data.columns | safe }},
            datasets: [{
                label: '',
                data: {{ data.rows | safe }},
                backgroundColor: {{ colors | safe }},
                hoverOffset: 4
            }]
        };
        const config = {
            type: '{{ bar_type }}',
            data: data,
            options: { 
                // scales: {
                //     x: { title: { display: true, text: 'Magnitude' }}, 
                //     y: { title: { display: true, text: 'Depth' }}
                // }
            }
        };
        const chart = new Chart(ctx, config);

    });

</script>


{% if message %}
    <h3>{{ message }}</h3>
{% endif %}

{% if forms %}
    {% for form in forms %}
        {{ wtf.quick_form(form) }}
        <br/>
    {% endfor %}
{% endif %}

<!-- {% if data %} -->
<div class="wrapper">
    <canvas id="chart"></canvas>
</div>
<!-- {% endif %} -->

{% endblock %}