{% extends "base.html" %}

{% block app_content %}

<!-- <a href="/eq">Earthquakes</a><br/>
<a href="/cluster">Cluster</a><br/><br/> -->

<!-- <a href="/quiz2">(QUIZ 2) Earthquakes</a><br/><br/> -->

<!-- <a href="/quiz3">(QUIZ 3) Votes</a><br/> -->

<!-- <a href="/fruits">(QUIZ 4) Fruits</a><br/> -->

<!-- <a href="/assignment5">Assignment 5</a><br/> -->

<!-- <a href="/quiz5">QUIZ 5</a><br/> -->

<a href="/quiz6_student">QUIZ 6 - STUDENT</a><br/><br/>

<a href="/quiz6_admin">QUIZ 6 - ADMIN</a><br/>

{% endblock %}